[workspace]

members = [
    "verkle-db",
    "verkle-trie",
    "verkle-spec",
    "ipa-multipoint",
    "banderwagon",
    "ffi_interface",
]
resolver = "2"

[profile.bench]
debug = true
opt-level = 3
debug-assertions = true
incremental = true

[profile.release]
opt-level = 3
debug = true
debug-assertions = true
incremental = true


[profile.test]
opt-level = 3
debug-assertions = true
incremental = true
debug = true

[patch.crates-io]
ark-ed-on-bls12-381-bandersnatch = { git = "https://github.com/flyq/algebra.git", branch = "master" }
ark-ff = { git = "https://github.com/flyq/algebra.git", branch = "master" }
ark-ec = { git = "https://github.com/flyq/algebra.git", branch = "master" }
ark-serialize = { git = "https://github.com/flyq/algebra.git", branch = "master" }
