[package]
name = "salt"
version = "1.0.0"
edition = "2021"

[features]
default = []
enable-hugepages = ["banderwagon/enable-hugepages"]

[dependencies]
# megaeth dependencies
ark-ff = { git = "https://github.com/arkworks-rs/algebra.git", rev = "da450f98b9b4bf1b4c8eec8f96b4501f9705c517" }
banderwagon = { path = "../banderwagon" }
ipa-multipoint = { path = "../ipa-multipoint" }
megaeth-ahash = { package = "ahash", git = "https://github.com/megaeth-labs/ahash.git", tag = "fallback-ahash" }

# standard dependencies
auto_impl = "1"
blake3 = "1.8"
bytes = "1.5"
derive_more = { version = "2", default-features = false, features = ["full"] }
hex = "0.4"
iter_tools = "0.37"
once_cell = "1.19"
rayon = "1.11"
rustc-hash = "2.0"
serde = { version = "1.0", features = ["derive"] }
serde_arrays = "0.2"
serde_with = "3.3.0"
thiserror = "2.0"
tracing = "0.1.0"

[dev-dependencies]
alloy-primitives = { version = "0.8.20", features = ["rand"] }
bincode = { version = "2.0", features = ["serde"] }
arbitrary = "1.3"
criterion = "0.7"
proptest = "1.4"
proptest-arbitrary-interop = "0.1.0"
proptest-derive = "0.6"
rand = "0.8.5"
serde_json = "1.0.94"
test-fuzz = "7.2"

[[bench]]
name = "salt_trie"
harness = false
