[package]
name = "salt"
version = "1.0.0"
edition = "2021"

[features]
default = ["std"]
std = [
    "banderwagon/std",
    "ipa-multipoint/std",
    "serde/std",
    "blake3/std",
    "hex/std",
    "once_cell/std",
    "thiserror",
    "tracing/std"
]
alloc = []
parallel = ["rayon", "banderwagon/parallel", "ipa-multipoint/parallel"]

[dependencies]
# megaeth dependencies
ark-ff = { git = "https://github.com/arkworks-rs/algebra.git", rev = "da450f98b9b4bf1b4c8eec8f96b4501f9705c517" }
banderwagon = { path = "../banderwagon" }
ipa-multipoint = { path = "../ipa-multipoint" }

# standard dependencies
blake3 = { version = "1.8", default-features = false }
derive_more = { version = "2", default-features = false, features = ["full"] }
hex = { version = "0.4", default-features = false, features = ["alloc"] }
iter_tools = "0.37"
once_cell = { version = "1.19", default-features = false, features = ["alloc", "critical-section"] }
rayon = { version = "1.11", optional = true }
rustc-hash = "2.0"
serde = { version = "1.0", default-features = false, features = ["derive", "alloc"] }
serde_arrays = "0.2"
spin = "0.9"
thiserror = { version = "2.0", optional = true }
tracing = { version = "0.1.0", default-features = false }
zerocopy = { version = "0.7", features = ["derive"] }

[dev-dependencies]
alloy-primitives = { version = "0.8.20", features = ["rand"] }
bincode = { version = "2.0", features = ["serde"] }
arbitrary = "1.3"
criterion = "0.7"
proptest = "1.4"
proptest-arbitrary-interop = "0.1.0"
proptest-derive = "0.6"
rand = "0.8.5"
serde_json = "1.0.94"
test-fuzz = "7.2"

[[bench]]
name = "salt_trie"
harness = false
