[package]
name = "salt"
version = "1.0.0"
edition = "2021"

[features]
default = []
test-bucket-resize = []

[dependencies]
banderwagon = { path = "../banderwagon" }
ipa-multipoint = { path = "../ipa-multipoint" }

# standard dependencies
auto_impl = "1"
blake3 = "1.8"
derive_more = { version = "2", default-features = false, features = ["full"] }
hex = "0.4"
once_cell = "1.19"
rayon = "1.11"
rustc-hash = "2.0"
serde = { version = "1.0", features = ["derive"] }
serde_arrays = "0.2"
thiserror = "2.0"
zerocopy = { version = "0.7", features = ["derive"] }

[dev-dependencies]
ark-ff = "0.5.0"
bincode = { version = "2.0", features = ["serde"] }
criterion = "0.7"
rand = "0.9"
serde_json = "1.0.94"

[[bench]]
name = "salt_trie"
harness = false
