[package]
name = "salt"
version = "1.0.0"
edition = "2021"

[features]
default = []

[dependencies]
# megaeth dependencies
ark-ff = { git = "https://github.com/arkworks-rs/algebra.git", rev = "da450f98b9b4bf1b4c8eec8f96b4501f9705c517" }
banderwagon = { path = "../banderwagon" }
ffi_interface = { path = "../ffi_interface" }
ipa-multipoint = { path = "../ipa-multipoint" }
megaeth-ahash = { package = "ahash", git = "https://github.com/megaeth-labs/ahash.git", tag = "fallback-ahash" }

# standard dependencies
blake3 = "1.8"
bytes = "1.5"
hex = "0.4"
iter_tools = "0.30.0"
modular-bitfield = "0.11.2"
once_cell = "1.19"
rayon = "*"
rustc-hash = "2.0"
serde = "1.0"
serde_arrays = "0.1.0"
thiserror = "1.0"
tracing = "0.1.0"
derive_more = { version = "2", default-features = false, features = ["full"] }

[dev-dependencies]
arbitrary = "1.3"
criterion = "0.5"
proptest = "1.4"
proptest-arbitrary-interop = "0.1.0"
proptest-derive = "0.5"
rand = "0.8.5"
serde_json = "1.0.94"
test-fuzz = "5"
alloy-primitives = "0.8.20"

[[bench]]
name = "salt_trie"
harness = false
