[package]
name = "salt"
version = "1.0.0"
edition = "2021"

[features]
default = []
test-bucket-resize = []

[dependencies]
# megaeth dependencies
ark-ff = { git = "https://github.com/arkworks-rs/algebra.git", rev = "da450f98b9b4bf1b4c8eec8f96b4501f9705c517" }
banderwagon = { path = "../banderwagon" }
ipa-multipoint = { path = "../ipa-multipoint" }

# standard dependencies
auto_impl = "1"
blake3 = "1.8"
derive_more = { version = "2", default-features = false, features = ["full"] }
hex = "0.4"
iter_tools = "0.37"
once_cell = "1.19"
rayon = "1.11"
rustc-hash = "2.0"
serde = { version = "1.0", features = ["derive"] }
serde_arrays = "0.2"
thiserror = "2.0"
tracing = "0.1.0"
zerocopy = { version = "0.7", features = ["derive"] }

[dev-dependencies]
bincode = { version = "2.0", features = ["serde"] }
arbitrary = "1.3"
criterion = "0.7"
proptest = "1.4"
proptest-arbitrary-interop = "0.1.0"
proptest-derive = "0.6"
rand = "0.8.5"
serde_json = "1.0.94"
test-fuzz = "7.2"
fuzzcheck = { git = "https://github.com/loiclec/fuzzcheck-rs.git", rev = "b9ffecdb7dbd822d39673f836e5b337120648188" }

[[bench]]
name = "salt_trie"
harness = false
